<ion-content>
  <header>
    <!-- <ion-menu-button style="color:#fff"></ion-menu-button> --><br>
    <ion-img src="/assets/images/header.jpeg"></ion-img>
  </header>

  <form [formGroup]="buynow" class="form1">
    <br>
    <h4>{{pName}}</h4>
    <h6>({{name}} {{surname}})</h6><br>
    <h4>Premium : <b>R {{premium}}</b></h4>
  </form>
  <form [formGroup]="buynow" class="form2" (submit)="buyNow()">
    <br>
    <h3>How many members would you like to add?</h3><br>
    <ion-range min="1" max="15" step="1" pin=true snaps=true [value]="member">
      <ion-icon size="small" slot="start" name="remove-circle-outline" (click)="sub()"></ion-icon>
      <ion-icon slot="end" name="add-circle-outline" (click)="add()"></ion-icon>
    </ion-range>
    <ion-item lines="none">
      <ion-button class="button button-block button-positive" routerLink="/buynow8"> Back</ion-button>
      <ion-button class="button button-block button-positive" type="submit"> Next</ion-button>
    </ion-item>
  </form>
</ion-content>